body  {
    margin: 0;
}

header {
    padding: 50px;
    background-color: #FFE600;
    color: black;
}

h1, h2, p {
    margin-top: 0;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: black;
}

p {
    font-size: 18px;
}

a {
    color: #FFE600;
}

.section-one {
    background-color: black;
    color:white;
    margin: 0;
    padding: 20px;
}

.section-two {
    background-color: white;
    margin: 0;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFE600;
}

.bth:hover {
    background-color: black;
}