body {
    margin: 0;
    font-family: sans-serif;
    color: #707070;
    font-size: 1.125rem;
}

/* typography */

h1 {
    color: #312614;
    text-align: center;
    font-size: 3rem;
}

h1 span {
    color: #B7832F
}

h2 {
    font-size: 1.5rem;
}

p {
    margin: 0;
}

/* layout */

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}
.columns {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}
.col-brown {
    background: #312614;
    color: white;
    padding: 1em;
}