body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #2E354F;
}

h1 {
    margin: 0;
    color: white;
}

h2, a {
    color: #EF5839;
    margin-top: 0;
}

.front-strong {
    font-weight: bold;
}

.container {
    width: 620px;
    padding: 30px;
}

.section-one {
    background-color: white;
}

.section-two {
    background-color: #2E354F;
    color: white;
}

.btn {
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
}

.btn-accent {
    background-color: #EF5839;
    color: white;
}

.btn-mono {
    background-color: white;
}