body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.container {
    /* display: flex; */
    margin: 0 auto;
    text-align: center;
}

@media (min-width:675px) {
    .container {
        display: flex;
    }
    .main-bbq {
        width: 60%;
    }
    .aside-bbq {
        width: 40%;
    }
}

.margin-bottom {
    margin-bottom: 0.5rem;
}

/* typography */

h1 {
    color: #fff;
    font-weight: 400;
    font-size: 2.25rem;
}

h2, h3, .main-header {
    color: #F18119;
}

h2, h3, button, .main-header {
    text-transform: uppercase;
}

h2 {
    font-size: 1.2rem;
}

p {
    color: #404040;
    font-size: 1rem;
}

strong {
    font-weight: 900;
}

input {
    text-align: center;
}

.aside-header {
    color: #404040;
    text-transform: none;
}

.aside-form-legal {
    font-size: 0.625rem;
}

/* layout */
.main-bbq {
    padding: 100px;
    background-image: url(../images/ribs.jpg);
    background-position: center;
    background-size: cover;
}

.main-header {

}

.main-header-gradient {

}

.main-subcontent {
    
}

.aside-bbq {
    padding: 1rem;
}

.aside-form-input-div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    margin: 0 auto;
    justify-content: space-between;
    /* background-color: pink; */
    margin-bottom: 1rem;
}

input, button {
    border-radius: 5px;
    height: 1.6rem;
}

/* 
1. gradient
2. position of the header always on top
3. style the input 
4. give gradient to button
5. position sub-header in the main in different positon
*/
